@import 'variables.scss';
@import 'mixins.scss';

html, body{
  margin:0 !important;
  padding:0 !important;
}

.nav-bar {
    @include nav-bar(40px, $primary-dark);
}

.nav {
    float: right;
    margin:0;
    list-style: none;
    line-height: 40px;
    & > li {
        float:left;
        padding: 0 10px 0 10px;
        transition: all 500ms ease;
        &:hover {
            color:#FFF;
        }        
        &:last-of-type {
            margin-right:0;
        }
        & > a {
            color:#000;
            font-family: Arial;
            text-decoration: none;
            height: 40px;
        }
    }
}

.container {
    width: 80%;
    margin:0 auto;
    .brand {
        float:left;
        color:#000;
        font-family: Arial;
        line-height: 40px;
        font-weight: bold;
        font-size: 25px;
        width: 30%;
    }
}